body{margin: 0; padding: 0; box-sizing: border-box;}
header{
	background-color: black;
	display: flex;
	justify-content: space-around;
	
}

.logo{
	font-size: 30px;
	color: #fff;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: bold;
	font-family: arial;
}

.navber{}
.navber ul{
	list-style-type: none;
	justify-content: center;
	align-items: center;
	display: flex;
}
.navber ul li{
	border: 1px solid #262626;
	padding: 15px 10px;

}
.navber ul li a{
	text-decoration: none;
	float: left;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.navber ul li:hover{
	background-color: crimson;
}


.navber ul li ul li{
	display: none;
}