*{margin:0; padding: 0; box-sizing: border-box;}
html{scroll-behavior: smooth;}

body{
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background: #fff;
}

.container{
    width:90%;
    max-width: 1200px;
    margin:auto;
}

img{
    max-width: 100%;
    display: block;
}

button{
    cursor: pointer;
    border:none;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: 80px 0;
}